<div class="row">
  <div class="col-sm-12">
    <h2>Cadastro de usuário</h2>
  </div>
  <div class="col-sm-6">
    <label>Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome">
  </div>
  <div class="col-sm-6">
    <label>Login</label>
    <input type="text" class="form-control" [(ngModel)]="login">
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12 text-right">
    <button type="button" class="btn btn-primary mr-2" (click)="adicionarUsuarioComum()">Adicionar Usuário</button>
    <button type="button" class="btn btn-primary" (click)="adicionarAdministrador()">Adicionar Administrador</button>
  </div>
</div>