<div class="row">
  <div class="col-12">
    <h3>{{curso.nome}}</h3>
  </div>
</div>

<div class="row mt-1">
  <div class="col-12">
    <button type="button" class="btn btn-primary mr-2">Editar</button>
    <button type="button" class="btn btn-danger">Remover</button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p>{{curso.descricao}}</p>
  </div>
</div>

<hr>

<div class="row mt-3">
  <div class="col-12">
    <h5>Matérias do curso</h5>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <select class="form-control">
      <option *ngFor="let materia of materias; let id = index" value="id">{{materia.nome}}</option>
    </select>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary">Adicionar</button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          Matéria 1
          <span class="badge badge-warning badge-pill">20 horas</span>
        </div>
        <button type="button" class="btn btn-danger">Remover</button>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          Matéria 2
          <span class="badge badge-warning badge-pill">30 horas</span>
        </div>
        <button type="button" class="btn btn-danger">Remover</button>
      </li>
    </ul>
  </div>
</div>