<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- <form (ngSubmit)="enviar(form)" #form> -->
      <form (ngSubmit)="enviar()" #form="ngForm">
        <h3>Cadastro de usuário</h3>
        <div id="dados-basicos"
          ngModelGroup="dadosBasicos"
          #dadosBasicos="ngModelGroup">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" 
            name="login"
            id="login" 
            class="form-control"
            ngModel
            required
            minlength="5">
          </div>
          
          <div class="form-group">
            <label for="email">E-mail</label>
            <input 
            type="text"
            name="email"
            id="email" 
            class="form-control"
            ngModel
            required
            email>
          </div>
        </div>
        <p *ngIf="!dadosBasicos.valid && dadosBasicos.touched">Dados básicos inválidos!</p>
          
        <label for="genero">Gênero</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label mr-2" 
              *ngFor="let genero of generos">
              <input class="form-check-input"
                type="radio" 
                name="genero" 
                id="genero" 
                [value]="genero.valor"
                ngModel
                required>
              {{genero.descricao}}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="tipo">Tipo de Usuário</label>
          <select id="tipo" class="form-control"
            name="tipo"
            [ngModel]="tipoDefault">
            <option value="administrador">Administrador</option>
            <option value="comum">Comum</option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Enviar</button>        
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="enviado">
    <div class="col-sm-12">
      <h4>Dados</h4>
      <p>Login: {{usuario.login}}</p>
      <p>E-mail: {{usuario.email}}</p>
      <p>Gênero: {{usuario.genero}}</p>
      <p>Tipo: {{usuario.tipo}}</p>
    </div>
  </div>
</div>