<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="list-group">
            <!-- para manter queryParams, declarar na rota -->
            <a 
                [routerLink]="['/veiculos', veiculo.id]"
                [queryParams]="{permiteEdicao: veiculo.id === 2 ? '1' : '0'}"
                fragment="loading"
                routerLinkActive="active"
                class="list-group-item list-group-item-action"
                *ngFor="let veiculo of veiculos">
                {{veiculo.placa}}
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <!-- <button class="btn btn-primary" (click)="recarregar()">Recarregar</button> -->

        <router-outlet></router-outlet>        
    </div>
</div>