<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary">Novo</button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Data de Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">1</td>
          <td>João da Silva</td>
          <td>10/01/1990</td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td>Maria de Souza</td>
          <td>20/05/1989</td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td>José de Silva</td>
          <td>30/08/1970</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>