<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary"   
      (click)="salvar()">Salvar</button>

    <button type="button" class="btn btn-danger ml-2"   
      (click)="cancelar()">Cancelar</button>
  </div>
</div>

<div class="row mt-3" *ngIf="formCurso" [formGroup]="formCurso">
  <div class="col-12">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control"
       name="nome" id="nome"
       placeholder="Informe o nome do curso"
       formControlName="nome">
    </div>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea class="form-control" name="descricao" id="descricao" rows="5"
        placeholder="Informe a descrição do curso"
        formControlName="descricao"></textarea>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <h5>Matérias do curso</h5>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <select class="form-control"
          formControlName="materiaSelecionada">
          <option *ngFor="let materia of materias; let id = index" value="{{id}}">{{materia.nome}}</option>
        </select>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary"
        (click)="adicionarMateria()">Adicionar</button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let materia of materiasSelecionadas; let i = index">
            <div>
              {{materia.nome}}
              <span class="badge badge-warning badge-pill">{{materia.horas}} horas</span>
            </div>
            <button type="button" class="btn btn-danger" (click)="removerMateria(i)">Remover</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>