<div *ngIf="curso">
  <div class="row">
    <div class="col-12">
      <h3>{{curso.nome}}</h3>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <button type="button" class="btn btn-primary mr-2" (click)="editar()">Editar</button>
      <button type="button" class="btn btn-danger" (click)="remover()">Remover</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <p>{{curso.descricao}}</p>
    </div>
  </div>

  <hr>

  <div class="row mt-3">
    <div class="col-12">
      <h5>Matérias do curso</h5>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let materia of curso.materias">
          {{materia.nome}}
          <span class="badge badge-warning badge-pill">{{materia.horas}} horas</span>
        </li>
      </ul>
    </div>
  </div>
</div>