<div class="row mb-3 border p-2">
  <div class="col-sm-12">
    <h5>{{usuario.nome}}</h5>
    <hr>
    <p>Situação: {{usuario.situacao}}</p>

    <!-- Adicionar depois -->
    <button type="button" class="btn btn-primary mr-3" (click)="atualizarSituacao('ativo')">Ativo</button>
    <button type="button" class="btn btn-secondary mr-3" (click)="atualizarSituacao('inativo')">Inativo</button>
    <button type="button" class="btn btn-danger" (click)="atualizarSituacao('desconhecido')">Desconhecido</button>
  </div>
</div>